<div class="card">
  <div class="card-header bg-primary text-white">{{ title }}</div>
  <div class="card-block">
    <div class="table-responsive" *ngIf="products.length">
      <table class="table table-striped m-0">
        <thead>
          <tr>
            <th>
              <button
                class="btn btn-sm"
                [ngClass]="{
                  'btn-danger': showImage,
                  'btn-success': !showImage
                }"
                (click)="toggleImage()"
              >
                {{ showImage ? 'Hide' : 'Show' }} Image
              </button>
            </th>
            <th>{{ headers.description }}</th>
            <th>{{ headers.price }}</th>
            <th>{{ headers.available }}</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let product of products; let isEven = even">
            <td><img [src]="product.imageUrl" *ngIf="showImage" /></td>
            <td>{{ product.description }}</td>
            <td>{{ product.price | currency }}</td>
            <td>{{ product.available | date }}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
